body{
    background-color:r0, 70, 67;
    margin: 10%;
    border: 40rem;

}
h1{
    color:rgb(255, 0, 0);
    text-align:center;
    

}
header{
    background-color: green;
    margin: 5%;
}
main{
    background-color: yellowgreen;
    text-align: center;

}
p{
    color: red;
    size: 50%;
}
footer{
    background-color: red;
    text-align: center;
    margin: 5%;
}
button{
    color: red;
    background-color: black;
    border-radius: 30%;
    text-size-adjust: 80%;
    margin: 30%;
    border: 20%;
    border-color: pink;
    border-radius: 50%;
}
