*{
    margin: 0px;
    padding: 0px;
    color: white;
}
#box{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
    margin: 20px;
}
#bar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;

}
#logo{
    color: #f08804;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
#disp{
    background-color: #0f1111;
    display: inline-block;
    height: 70px;
    padding-top: 40px;

}
#disp1{
    padding-top: 40px;
    height: 70px;
    background-color:#f08804;
    display: inline-block;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    /* text-align: center; */

}
